<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy;<a href="https://github.com/MrDeb/alpha-blog">
      Alpha Blog Based On Ruby On Rails </a>
      by <a href="https://github.com/MrDeb">MrDeb</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
